
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tasks_object.name}}</title>
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            <a href="{% url 'create_task' %}">Create a new task</a>
            {% if project_list|length == 0 %}

                <p>You are not assigned to any tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td><a href="{% url 'create_task' task.name %}">{{ task.name }}</a></td>
                                    <td>{{ tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            {% endif %}
        </div>

    </main>


</body>
</html>
