{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ project_object.name }} -
      Create a new project
    </title>

</head>
    <nav> <a href="{% url 'list_projects' %}">My Projects</a></nav>
<body>
     <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
          </form>

     </main>


<footer>

</footer>
</body>
</html>
