{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ projects_object.name }} detail</title>

</head>

<body>
    <main>
        <div>
            <h1>{{ task.name }}</h1>
            <p>{{ task.description }}</p>
            <h2>Tasks</h2>
            {% if projects_object.tasks.all|length > 0 %}
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in projects_object.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno:"" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

         </div>
    </main>
</body>
<br>
<br>
<footer>

</footer>
</html>
